<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="right-div" th:fragment="mena">

    <div class="div-saldo">


        <div style="padding: 1rem;">Saldo em carteira</div>
        <input name="vd_ga" id="vd_ga" class="real input_geral" type="text" disabled value="456679" style="display:flex;color:aliceblue;text-align:center;font-size:40px;background-color:rgba(255, 255, 255, 0);" />

    </div>

    <div class="dados-conta">

        <form action="" class="form">

            <div>

                <h3>Dados de Acesso</h3>

                <label for="">Email:</label>
                <input type="text" value="brunotkd96@gmail.com">


                <label for="">Senha:</label>
                <input type="password" value="123456789">

                <label for="">Confirmar senha:</label>
                <input type="password" value="123456789">



            </div>






</div>

</html>