<html xmlns:th="http://www.thymeleaf.org">
	
	<nav th:fragment="menu-dashboard">
        <a class="logo" href="/"><img src="./assets/img/logo-horizontal.png" alt="" ></a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <select name="" id="" class="select-event">
            <option value="">Selecione o evento</option>
            <option value="">Evento 1</option>
            <option value="">Evento 2</option>
            <option value="">Evento 3</option>
        </select>
            <a href="/cadastrarEvento" class="createEvent">Criar Evento</a>
        <ul class="nav-list">
            <li><a href="index.html">Geral</a></li>
            <li><a href="CategoriaEvento.html">Finanças</a></li>
            <li><a href="/MinhaCarteira">Minha área</a></li>
        </ul>
        <img src="./assets/img/perfil.jpg" style="width:30px; border-radius: 20px;" alt="">
    </nav>
    
</html>