<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

            <div class="div-menu" th:fragment="sub-menu">

                <div class="menu-profile">
                    <div class="title-wallet"> <h3>Minha área</h3> </div>
                    <hr>
                    
    
                    <ul>

                        <li>
                            <a href="/profile" class="l"><img src="./assets/img/user.png" style="width: 12px; margin-right: 0.5rem;" alt="" srcset="">Minha conta</a>
                        </li>

                        <li>
                            <a href="/transferir" class="l"><img src="./assets/img/transaction.png" style="width:13px; margin-right:0.5rem" alt="" srcset="">Transferir</a>
                        </li>
                        <li>
                            <a href="/MinhaCarteira" class="l"><img src="./assets/img/money.png" style="width:13px; margin-right:0.5rem" alt="" srcset="">Minha carteira</a>
                        </li>

                        <li>
                            <a href="/saque" class="l"><img src="./assets/img/money-withdrawal.png" style="width:13px; margin-right:0.5rem;" alt="" srcset="">Sacar</a>
                        </li>
                        <li>
                            <a href="#" class="l"><img src="./assets/img/extrato-bancario.png" style="width:13px; margin-right:0.5rem;" alt="">Extrato</a>
                        </li>

                        <li>
                            <a href="#" class="l"><img src="./assets/img/money.png" style="width:13px; margin-right:0.5rem" alt="" srcset="">Ingressos</a>
                        </li>

                        <li>
                            <a href="#" class="l"><img src="./assets/img/money.png" style="width:13px; margin-right:0.5rem" alt="" srcset="">Reservas</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_BUSINESS')">
                            <a href="/dashboard" class="l"><img src="./assets/img/money.png" style="width:13px; margin-right:0.5rem" alt="" srcset="">Dashboard</a>
                        </li>

                    </ul>
    
                </div>
            </div>

</body>
</html>