<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/transferir.css">

    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{/assets/css/dashBoardSideBar.css}" href="../static/assets/css/dashBoardSideBar.css">
    <link rel="stylesheet" href="./assets/css/dashboard.css" th:href="@{/assets/css/dashboard.css}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Dashboard Sidebar Menu</title>-->
    <style>
        #chartdiv {
          width: 100%;
          height: 300px;
        }
        #chartdiv2 {
          width: 100%;
          height: 200px;
        }
        #chartdiv3 {
          width: 100%;
          height: 500px;
        }
        #chartdiv {
        width: 100%;
        height: 400px;
        }
        </style>
</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <div class="text logo-text">
                <img src="../static/assets/img/logo-icon-white.png"  th:src="@{/assets/img/logo-icon-white.png}" alt="" srcset="" class="logo">
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
              <li class="nav-link">
                <a href="#">
                    <i class='bx bx-log-in icon' ></i>
                    <span class="text nav-text">Overview</span>
                </a>
            </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-party icon' ></i>
                        <span class="text nav-text">Eventos</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-qr icon' ></i>
                        <span class="text nav-text">Ingressos</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-restaurant icon'></i>
                        <span class="text nav-text">Restaurantes</span>
                    </a>
                </li>


                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-heart icon' ></i>
                        <span class="text nav-text">Likes</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-wallet icon' ></i>
                        <span class="text nav-text">Carteira</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="#">
                    <i class='bx bx-log-out icon' ></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
        </div>
    </div>

</nav>

<section class="home">

    <div class="cabecalho">

        <div class="titleHeader">
            <h4>Bom dia, Bruno</h4>
            <p>Quarta-feira, 2 de Junho</p>
        </div>

        <div class="eventButton">
            <div class="eventButton">

            </div>
        </div>


    </div>

    <div class="graphic">

        <div class="box1">
          <h1>Investimentos</h1>


            <div id="chartdiv3"></div>


        </div>
        
        <div class="box2">
        <h1 style="margin-bottom: 2rem;">Relação do público pagante</h1>
          <div id="chartdiv2"></div>


        </div>

        
        <div class="box3" style="margin-bottom: 500px;">
        <h1 style="margin-bottom: 2rem;">Faturamento Anual</h1>


          <div id="chartdiv"></div>


        </div>

    </div>
    
</section>


<script>
    const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeText = body.querySelector(".mode-text");


    toggle.addEventListener("click" , () =>{
        sidebar.classList.toggle("close");
    })

    searchBtn.addEventListener("click" , () =>{
        sidebar.classList.remove("close");
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js" th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
<script src="./assets/js/customChart.js" th:src="@{/assets/js/customChart.js}"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js" th:src="@{https://cdn.amcharts.com/lib/5/index.js}"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js" th:src="@{https://cdn.amcharts.com/lib/5/xy.js}"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js" th:src="@{https://cdn.amcharts.com/lib/5/themes/Animated.js}"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js" th:src="@{https://cdn.amcharts.com/lib/5/percent.js}"></script>


<!-- Chart code -->
<script src="../static/assets/js/BarGenderChart.js" th:src="@{/assets/js/BarGenderChart.js}"></script>
<script src="../static/assets/js/BarChart.js" th:src="@{/assets/js/BarChart.js}"></script>
<script src="../static/assets/js/PieChart.js" th:src="@{/assets/js/PieChart.js}"></script>
    </body>
</html>
