<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheap Chap - Login</title>
    <link rel="stylesheet" href="./assets/css/login.css">
</head>
<body>

    <div class="container">

        <div class="formDiv">

            <form action="" method="post" >

                <div>
                    <img src="./assets/img/logo-horizontal.png" alt="" srcset="">                    
                </div>

                <div class="formInput">

                <label>Username:</label>
                <input type="text" name="username">

                <label>Password:</label>
                <input type="password" name="password">

                <div style="margin-top:1rem;">

                <input type="submit" style="padding: 0.8rem;border-style:solid;border-color: purple;background-color: white;font-size: 15px;width: 10rem;" value="Login">
                <a href="/RegistroPessoaFisica">Cadastre-se</a>
                </div>

                </div>
                

            </form>

        </div>

    </div>
    
</body>
</html>