<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/estilo-more-Details.css">
    <link rel="stylesheet" href="./assets/css/nav-bar.css">
    <link rel="stylesheet" href="./assets/css/estilo-lista-eventos.css">
    <style>
        .content {
            padding: 0
        }
    </style>

    <title>Cheap-Chap</title>
</head>

<body>

	<nav th:include="_template :: menu"></nav>

    <div class="space-menu">

    </div>

    <div class="container">
        <div class="left-div-ghost">
            <div class="left-div">

                <div class="Aboutticket">

                    <div class="divEvento">
                        <ul>
                            <img src="./assets/img/japonese-restaurant-1.jpg" class="img-responsive">
                            <li>Sushi Yaki</li>
                            <li class="local">25 km</li>
                            <li>Av. Paulista , 1233</li>
                            <div class="more-details">
                                <p>

                                </p>
                            </div>

                        </ul>
                    </div>


                </div>

                <div class="container-1">

                    <div class="text">
                        <h2>Especiarías</h2>
                        <p>Comida japonesa </p>

                        <h2>Classificação: </h2>
                        <p>******</p>

                        <h2>Horário de funcionamento:</h2>
                        <p>Segunda à Domingo das 8h às 22h</p>
                        <p>Promoção 50% OFF em todos os pratos das 09:00 às 11:00</p>
                    </div>



                </div>


            </div>
        </div>



        <div class="right-div">

            <div class="div-collapse">

                <h1 style="padding-top:2rem">INFORMAÇÕES:</h1>

                <div class="collapse-header">
                    <button type="button" class="collapsible">
                 <img src="./assets/img/plus.png" alt="" srcset="" style="width: 10px" id="img">
                   Como chegar ?
                </button>
                    <div class="content">
                        <div class="mapouter">
                            <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=av%20mateo%20bei&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-org.net">123movies</a><br>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 500px;
                                        width: 600px;
                                    }
                                </style><a href="https://www.embedgooglemap.net">how to embed a map in wordpress</a>
                                <style>
                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none!important;
                                        height: 500px;
                                        width: 600px;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="collapse-header">
                    <button type="button" class="collapsible"><img src="./assets/img/plus.png" alt="" srcset="" style="width: 10px" id="img"> Informações</button>
                    <div class="content" style="padding: 3rem;">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>

                <div class="collapse-header">
                    <button type="button" class="collapsible">
                        
                        <img src="./assets/img/plus.png" style="width: 10px" id="img"> Galeria de fotos
                    </button>
                    <div class="content" id="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>

                <h1 style="margin-top: 4rem;">CARDÁPIO:</h1>


                <div>

                    <div class="collapse-header">
                        <button type="button" class="collapsible">
                                <img src="./assets/img/plus.png" style="width: 10px" id="img"> Galeria de fotos
                            </button>
                        <div class="content" id="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>

                </div>



            </div>


        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="./assets/js/somarIngressos.js"></script>
        <script src="assets/js/nav-bar.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/collapse.js"></script>
        <script>
        </script>

</body>

</html>