<nav>
    <a class="logo" href="/"><img src="./assets/img/logo-horizontal.png" alt="" srcset=""></a>
    <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-list">
        <li><a href="#">Início</a></li>
        <li><a href="#">Eventos</a></li>
        <li><a href="#">Restaurantes</a></li>
        <li><a href="#">Smarticket</a></li>
        <li><a href="#">Menu Digital</a></li>
        <li><a href="#">Meu Dashboard</a></li>
        <li><a href="#">Favoritos</a></li>

    </ul>
</nav>