<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheap chap - Register</title>
    <link rel="stylesheet" href="./assets/css/nav-bar.css" th:href="@{/assets/css/nav-bar.css}">
    <link rel="stylesheet" href="./assets/css/register.css" th:href="@{/assets/css/register.css}">
</head>
<body>

     <!-- MENU PAGE  -->
  	<nav th:include="_template :: menu"></nav>

    <div style="height:80px; width:50%;padding-top: 6rem;display:flex;justify-content: center;align-items:center;">
        <div style="padding: 1rem;border-style:solid;border-color: purple;">
            <a href="/RegistroPessoaFisica" style="color:black">Cadastro Pessoa Física</a>
        </div>

        <div style="background-color:purple;padding: 1rem;margin-left: 1rem;">
            <a href="/RegistroPessoaJuridica">Cadastro Pessoa Juridica</a>
        </div>
        
    </div>


<div style="width:100%;display:flex;">
<div class="container" style="justify-content:center;">
    
    <div class="right-div">

        <div class="dados-conta">

            <form th:action="@{/RegistroPessoaJuridica}" class="form"
                  method="POST" th:object="${usuarioJuridico}"
                  enctype="multipart/form-data">


                <div class="div1">

                    <h3>Dados de Acesso</h3>

                    <!-- EMAIL -->
                    <label for="">Email:</label>
                    <input type="text" name="email" th:field="*{email}" th:classappend="${#fields.hasErrors('email')}?invalid" id="email">
                    <span th:errors="*{email}"></span>
                    <span th:if="${message}" th:text="${message}"></span>

                    <!-- USERNAME -->
                    <label for="">Username:</label>
                    <input type="text" name="username" th:field="*{username}" id="username">
                    <span th:errors="*{username}"></span>

                    <!-- PASSWORD -->
                    <label for="">Senha:</label>
                    <input type="password" name="password" th:field="*{password}" id="password">
                    <span th:errors="*{password}"></span>


                </div>


                <div class="div2">

                    <h3>Dados Pessoais</h3>

                    <label for="">Nome:</label>
                    <input type="text" name="nome" th:field="*{nome}">
                    <span th:errors="*{nome}"></span>

                    <label for="">Ultimo nome:</label>
                    <input type="text" name="ultimoNome" th:field="*{ultimoNome}">
                    <span th:errors="*{ultimoNome}"></span>

                    <label for="">CNPJ:</label>
                    <input type="text" name="cnpj" th:field="*{cnpj}" id="cnpj">
                    <span th:errors="*{cnpj}"></span>
                    <span th:if="${message2}" th:text="${message2}"></span>

                    <label for="">Razão Social:</label>
                    <input type="text" name="razaoSo    cial" th:field="*{razaoSocial}" id="razaoSocial">
                    <span th:errors="*{razaoSocial}"></span>

                    <label for="">Nome Fantasia:</label>
                    <input type="text" name="nomeFantasia" th:field="*{nomeFantasia}" id="nomeFantasia">
                    <span th:errors="*{nomeFantasia}"></span>



                    <label for="">Celular:</label>
                    <input type="text" id="telefone" name="telefone" th:field="*{telefone}">
                    <span th:errors="*{telefone}"></span>
                    <span th:if="${message3}" th:text="${message3}"></span>

                </div>
                <div class="div3">

                    <h3>Endereço</h3>


                    <label for="">CEP:</label>
                    <input type="text" name="cep" id="cep" th:field="*{endereco.cep}">
                    <span th:errors="*{endereco.cep}"></span>

                    <label for="">Rua:</label>
                    <input type="text" name="rua" th:field="*{endereco.rua}" id="rua">
                    <span th:errors="*{endereco.rua}"></span>

                    <label for="">Número:</label>
                    <input type="text" name="numero" th:field="*{endereco.numero}" id="numero">
                    <span th:errors="*{endereco.numero}"></span>

                    <label for="">Bairro:</label>
                    <input type="text" name="bairro" th:field="*{endereco.bairro}" id="bairro">
                    <span th:errors="*{endereco.bairro}"></span>

                    <label for="">Cidade:</label>
                    <input type="text" name="cidade" th:field="*{endereco.cidade}" id="cidade">
                    <span th:errors="*{endereco.cidade}"></span>

                    <label for="">UF:</label>
                    <input type="text" name="uf" th:field="*{endereco.uf}" id="uf">
                    <span th:errors="*{endereco.uf}"></span>

                    <label for="">Complemento:</label>
                    <input type="text" name="complemento" th:field="*{endereco.complemento}">


                </div>

                <div>
                    <button type="submit" class="BuyBtton">Cadastrar</button>
                </div>


            </form>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" th:src="@{assets/js/jquery.min.js}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script type="text/javascript">

	$(document).ready(function () {
	    $('#cnpj').mask('99.999.999/9999-99');
	    return false;
	});
	
	$(document).ready(function () {
	    $('#cep').mask('99999-999');
	    return false;
	});

    $(document).ready(function () {
        $('#cep').mask('99999-999');
        return false;
    });

    $(document).ready(function () {
        $('#telefone').mask('(99)9999-9999');
        return false;
    });



</script>

    <script src="./assets/js/nav-bar.js"></script>
</body>
</html>